@model IEnumerable<AboutUsViewModel>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col col-md-3">
            <div class="section-title mt">
                <span>Haqqımızda</span>
                <img src="images/@item.Settings.Logo" alt="">
            </div>
            <div class="info">
                <h3>@item.Settings.Phone</h3>
                <h4>@item.Settings.Email</h4>
                <a href="#" class="theme-btn">Haqqımızda daha ətraflı</a>
            </div>
        </div>
        <div class="col col-md-5">
            <div class="details-text mt">
                <h4>@item.SubTitle</h4>
                <p>@item.About</p>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="features-grid clearfix">
                <div class="grid">
                    <div class="icon">
                        <i class="fi flaticon-money-bag"></i>
                    </div>
                    <h3>Tələb et</h3>
                    <p>Ödənişi tələb edə bilərsən</p>
                </div>
                <div class="grid">
                    <div class="icon">
                        <i class="fi flaticon-agent"></i>
                    </div>
                    <h3>Agent tap</h3>
                    <p>Agent axtarışındasan?</p>
                </div>
                <div class="grid">
                    <div class="icon">
                        <i class="fi flaticon-cost"></i>
                    </div>
                    <h3>Premium ödə</h3>
                    <p>Elə indicə ödə</p>
                </div>
            </div>
        </div>
    </div>
}
