@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-slider hero-style-2">
    <div class="bottom-links">
        <div>
            <a href="#">
                <i class="fi flaticon-money-bag"></i>
                <h4>Tələb et</h4>
                <p>Siz öz pulunuzu tələb edə bilərsiniz</p>
            </a>
        </div>
        <div>
            <a href="#">
                <i class="fi flaticon-agent"></i>
                <h4>Agent tap</h4>
                <p>Agent lazımdır?</p>
            </a>
        </div>
    </div>
    <div class="swiper-container">
        <vc:slider></vc:slider>
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="pagi">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section-s2 -->
<section class="about-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <vc:about-us-home></vc:about-us-home>
                <vc:fun-facts></vc:fun-facts>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section-s2 -->
<!-- start service-section-s2 -->
<section class="service-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Ən Bəyənilən Xidmətlər</span>
                    <h2>Müştərilərin ən çox seçdikləri</h2>
                </div>
            </div>
            <div class="col col-xs-12">
                <vc:best-services></vc:best-services>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-section-s2 -->
<!-- start cta-section-s2 -->
<section class="cta-section-s2 section-padding">
    <vc:likeable-area></vc:likeable-area>
</section>
<!-- end cta-section-s2 -->
<!-- start claim-statement-section -->
<section class="claim-statement-section section-padding">
    <vc:claim-settlement></vc:claim-settlement>
</section>
<!-- end claim-statement-section -->
<!-- start testimonials-section-s2 -->
<vc:testimonial></vc:testimonial>
<!-- end testimonials-section-s2 -->
<!-- start award-section -->
<vc:award></vc:award>
<!-- end award-section -->
<!-- start blog-section-s2 -->
<section class="blog-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <vc:home-blog></vc:home-blog>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section-s2 -->
