@{
    ViewData["Title"] = "Index";
}



<!-- start page-title -->
<section class="page-title">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Bloglar</h2>
                        <ol class="breadcrumb">
                            <li><a asp-controller="home" asp-action="index">Home</a></li>
                            <li>Bloglar</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start blog-pg-section -->
<section class="blog-pg-section blog-masonry-4-columns section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content masonry-grids clearfix">
                    <vc:blog></vc:blog>
                </div>
     
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->