@model IEnumerable<BestServicesViewModel>

            @foreach (var item in Model)
            {
                @foreach (var agent in item.Agents)
                {
                    <div class="grid">
                        <div class="img-holder">
                            <img src="images/case-studies/@agent.Image" alt="">
                        </div>
                        <div class="overlay">
                            <div class="content">
                                <p class="cat">Sığorta</p>
                                @foreach (var casestudy in agent.CaseStudies)
                                {
                                    <h3><a asp-controller="casestudies" asp-action="casesingle" asp-route-id="@casestudy.Id">@item.Name</a></h3>
                                    break;
                                }
                            </div>
                        </div>
                    </div>
                    break; 
                }

            }
