@model IEnumerable<BestServicesViewModel>
@inject ICloudinaryService _cloudinaryService
@{ var a=0;}
<div class="agents-area-with-title">
    <div class="agents-grids clearfix">
        <div class="grid">
            <div class="section-title">
                <span>Agentlər</span>
                <h2>Agentlərimiz</h2>
            </div>
            <div class="info">
                <h3>0558717031</h3>
                <h4>kenan.veli@yahoo.com</h4>
                <a href="#" class="theme-btn">Daha ətraflı</a>
            </div>
        </div>
        @foreach (var item in Model)
        {
            a += item.Agents.Count;
            if (a > 7)
            {
                break;
            }
            @foreach (var agent in item.Agents)
            {
                <div class="grid">
                    <div class="img-holder">
                        <img src="@_cloudinaryService.BuildUrl(agent.Image)" alt="">
                    </div>
                    <div class="agent-info">
                        <h4>@agent.Name</h4>
                        <p>@agent.Profession</p>
                    </div>
                </div>
            }

        }


    </div>
</div>